{% extends 'base.html' %}
{% load thumbnail %}
{% block body %}
    {% if posts %}
        <div class="row">
            {% for post in posts.object_list %}
                <div class="row">
                    <div class="span1"></div>
                    <div class="span11">
                        <h2>{{ post.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="span3 text-center">
                        {% thumbnail post.image '150x150' crop="center" as im %}
                            <img src="/{{ post.image }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                    <div class="span9">
                        <p>{{ post.short_body }}...</p>
                        <a href="{% url 'one_post' post.slug %}">Читать далее</a>
                    </div>
                </div>
                <br/>
            {% endfor %}
        </div>
    {% else %}
        <h3>Записей нет.</h3>
    {% endif %}

    <div class="pagination pagination-centered">
        <ul>
            {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">Назад</a></li>
                {% else %}
                <li class="disabled"><a href="#">Назад</a></li>
            {% endif %}

            {% for num_page in posts.paginator.page_range %}
                <li><a href="?page={{ num_page }}">{{ num_page }}</a></li>
            {% endfor %}

            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">Вперед</a></li>
            {% else %}
                <li class="disabled"><a href="#">Вперед</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}