{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Авторизация - {% endblock %}
{% block body %}
    <div class="row">
        <h4 class="text-center">АВТОРИЗИРУЙТЕСЬ УДОБНЫМ ВАМ СПОСОБОМ</h4>
    </div>
    <br/>
    <div class="row">
        {% if user.is_authenticated %}
            <h5 class="text-center">Вы уже авторизированы под логином {{ user.username }}!</h5>
            <br/>
        {% else %}
            <div class="span1"></div>
            <div class="span5">
                <form action="{% url 'auth' %}" method="post">{% csrf_token %}
                    {{ auth_form }}<br/>
                    <input type="submit" value="Войти"/>
                </form>
            </div>
            <div class="span6 text-center">
                <h4>ИЛИ</h4>
                <a href="{% url 'social:begin' "facebook" %}">
                    <img src="{% static 'auth/facebook.png' %}" alt="Sign Facebook" width="45px"/>
                </a>
                <a href="{% url 'social:begin' "vk-oauth2" %}">
                    <img src="{% static 'auth/Vk.png' %}" alt="Sign VK" width="50px"/>
                </a>
                <a href="{% url 'social:begin' "google-oauth2" %}">
                    <img src="{% static 'auth/Google.png' %}" alt="Sign Google plus" width="47px"/>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}