{% extends 'base.html' %}
{% block title %}Добавить новый пост - {% endblock %}
{% block body %}
    <div class="row">
        <h4 class="text-center">Новая статья</h4>
    </div>
    <div class="row">
        <div class="span2"></div>
        <div class="span10">
            <form action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}<br/><br/>
                <input class="btn btn-success" type="submit" value="Опубликовать"/>
            </form>
            <br/>
        </div>
    </div>
{% endblock %}