{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="span6"></div>
        <div class="span6">
            <h6>Автор: {{ post.author }} / Дата публикации: {{ post.created }}</h6>
        </div>
    </div>
    <br/>
    <div class="row">
        <h2 class="text-center">{{ post.title }}</h2>
    </div>
    <br/>
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
            <img src="/{{ post.image }}" alt="{{ post.title }}"/>
            <br/><br/>
            <p>{{ post.body }}</p>
        </div>
        <div class="span1">

        </div>
    </div>
{% endblock %}