body a {
    text-decoration: none;
}
.logo {
    margin-top: 50px;
    margin-bottom: 20px;
    border: double #0e90d2;
    color: #0e90d2;
}

#id_title {
    width: 600px;
}
#id_body {
    width: 600px;
}