<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Blog noname</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
<div class="container">
    <div class="row text-center logo">
        <h1>Blog <br/> noname</h1>
    </div>
    <div class="row">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'new_post' %}">Добавить пост</a></li>
                        <li><a href="{% url 'logout' %}">Выйти ({{ user.username }})</a></li>
                    {% else %}
                        <li><a href="{% url 'auth' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock %}
</div>
<br/><br/>
<div class="modal-footer">

</div>
</body>
</html>